<plugin name='jquery-ui' version='1.10.2' grailsVersion='1.2 &gt; *'>
  <author>Marc Palmer</author>
  <authorEmail>marc@grailsrocks.com</authorEmail>
  <title>jQuery UI resources</title>
  <description>Simply supplies jQuery UI resources, depends on jQuery plugin. Use this plugin to avoid resource duplication and conflicts.</description>
  <documentation>http://grails.org/plugin/jquery-ui</documentation>
  <type>JqueryUiGrailsPlugin</type>
  <resources>
    <resource>JqueryUiPluginResources</resource>
    <resource>com.grailsrocks.jqueryui.JqueryUiTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements>
    <plugin name='jquery' version='1.5.2 &gt; *' />
  </runtimePluginRequirements>
  <behavior />
</plugin>